<section class="main-header">
</section>
<div class="container" id="top_page">
  <div class="row">

    <div class="col-sm-6" id="devices">
      <h1>Fakerbook</h1>
      <img src="<%= asset_path "images.jpg" %>" width="100%">
    </div>
    <div class="col-sm-6" id="top">
        <h1>Fakerbook</h1>
        <p>ruby on railsサンプルアプリケーション</p>
    </div>
  </div>
</div>
